@mixin activitygrid {
  .v-grid.activity-grid{
    > div {
      border-left: 0;
      border-bottom: 0;
    }
    width: 768px;
    .v-grid-cell {
      height: 80px;
    }

    .summary,
    .value {
      padding: $v-table-cell-padding-horizontal;

      .header,
      .content {
        display: block;
      }
    }

    .summary {
      display: block;
      .header {
        font-size: 15px;
        font-weight: bold;
      }
      .content {
        font-size: 12px;
      }
    }

    .value {
      font-size: 15px;
    }
  }
}